:{$PORT} {
    root * public
    php_fastcgi 127.0.0.1:9000
    file_server
    
    header {
        # Security headers
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy no-referrer-when-downgrade
    }

    handle_errors {
        rewrite * /{err.status_code}.html
        file_server
    }
}
